body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tick line {
  stroke: #e5e2e0;
}

.tick text {
  fill: #635f50;
}

.mark {
  fill: #137880;
}

.axis-label {
  font-size: 2em;
  fill: #635f50;
}
